@import "/public/css/mixins.less";
@import "/public/css/colors.less";

html {
  margin: 0;
  padding: 0;
  background: @gray80;
}

body {
  width: 980px;
  margin: 20px auto;
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  background: white;  
  border: 1px solid @gray60;
 .border-radius(10px);
}

a {
  color: @link;
}